.loader-overlay {
  position: fixed;
  inset: 0;

  /* Fondo semitransparente */
  background-color: rgba(21, 17, 46, 0.6);

  /* Efecto vidrio (opcional pero recomendado) */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


/* Scoped variables (no tocamos :root global) */
.loader-overlay {
  --hue: 223;
  --bg: hsl(var(--hue),90%,90%);
  --fg: hsl(var(--hue),90%,10%);
  --primary: hsl(var(--hue),90%,50%);
  --trans-dur: 0.3s;
}

.bike {
  display: block;
  width: 16em;
  height: auto;
}

.bike__body,
.bike__front,
.bike__handlebars,
.bike__pedals,
.bike__pedals-spin,
.bike__seat,
.bike__spokes,
.bike__spokes-spin,
.bike__tire {
  animation: bikeBody 3s ease-in-out infinite;
  stroke: var(--primary);
}

.bike__front { animation-name: bikeFront; }
.bike__handlebars { animation-name: bikeHandlebars; }
.bike__pedals { animation-name: bikePedals; }
.bike__pedals-spin { animation-name: bikePedalsSpin; }
.bike__seat { animation-name: bikeSeat; }

.bike__spokes,
.bike__tire {
  stroke: currentColor;
}

.bike__spokes { animation-name: bikeSpokes; }
.bike__spokes-spin { animation-name: bikeSpokesSpin; }
.bike__tire { animation-name: bikeTire; }

/* Animations */
@keyframes bikeBody {
  from { stroke-dashoffset: 79; }
  33%, 67% { stroke-dashoffset: 0; }
  to { stroke-dashoffset: -79; }
}
@keyframes bikeFront {
  from { stroke-dashoffset: 19; }
  33%, 67% { stroke-dashoffset: 0; }
  to { stroke-dashoffset: -19; }
}
@keyframes bikeHandlebars {
  from { stroke-dashoffset: 10; }
  33%, 67% { stroke-dashoffset: 0; }
  to { stroke-dashoffset: -10; }
}
@keyframes bikePedals {
  from { stroke-dashoffset: -25.133; }
  33%, 67% { stroke-dashoffset: -21.991; }
  to { stroke-dashoffset: -25.133; }
}
@keyframes bikePedalsSpin {
  from { transform: rotate(0.1875turn); }
  to { transform: rotate(3.1875turn); }
}
@keyframes bikeSeat {
  from { stroke-dashoffset: 5; }
  33%, 67% { stroke-dashoffset: 0; }
  to { stroke-dashoffset: -5; }
}
@keyframes bikeSpokes {
  from { stroke-dashoffset: -31.416; }
  33%, 67% { stroke-dashoffset: -23.562; }
  to { stroke-dashoffset: -31.416; }
}
@keyframes bikeSpokesSpin {
  from { transform: rotate(0); }
  to { transform: rotate(3turn); }
}
@keyframes bikeTire {
  from { stroke-dashoffset: 56.549; transform: rotate(0); }
  33% { stroke-dashoffset: 0; transform: rotate(0.33turn); }
  67% { stroke-dashoffset: 0; transform: rotate(0.67turn); }
  to { stroke-dashoffset: -56.549; transform: rotate(1turn); }
}
