:root {
    --blue-dark: #020617;
    --beige: #ebe295;
    --yellow-1: #f2cc0c;
    --yellow-2: #f2b90c;
    --orange: #d9910b;
    --brown: #a6600a;

    --radius-lg: 24px;
    --radius-md: 16px;
    --radius-sm: 12px;

    --border-soft: rgba(255, 255, 255, 0.1);
}